/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #3b3b3b;
    background-color: #fdfdfd;
  }

  #file-structure {
    width: 100px;
    height: 300px
  }

  body {
    background-color: #35fd1a;
    margin: 80px;
    
    font-family: Arial;
    color: rgb(11, 0, 0);
    font-size: 14px;
    font-weight: 100;
    line-height: 2;
    letter-spacing: .01px;
}
      
